.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 500px) {
  #home {
    padding: 0.5rem;
  }
}

.clock {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.clock.visible {
  opacity: 1;
}

.clock-time {
  margin: 0;
  padding: 0;
  font-size: clamp(6rem, 15vw, 12rem);
  color: var(--text-color);
  letter-spacing: 1px;
}

.quote {
  min-height: 5em;
  max-width: 500px;
  font-size: clamp(1rem, 3vw, 1.25rem);
  opacity: 0;
  transition: opacity 2s ease-in-out;
  margin-bottom: 1.5rem;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: var(--text-color);
}

.quote.visible {
  opacity: 1;
}

.author {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1rem;
}