.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f3f4f6;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  padding-bottom: 0.25rem;
  border-top: 1px solid #ccc;
}

.bottom-nav a {
  color: #000000;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.nav-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.bottom-nav a.active {
  border-bottom: 2px solid #000000;
  transform: translateY(-2px);
  padding-bottom: 3px;
}

.bottom-nav a:hover {
  transform: translateY(-2px);
}